body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

form {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

input {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

select {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style: circle;
}

	a:link {text-decoration: underline; color: black;}
	a:visited {text-decoration: underline; color: black;}
	a:active {text-decoration: underline; color: black;}
	a:hover {text-decoration: none; color: black;}


ul {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style-type: disc;
	list-style-position: outside;
}

li {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

ol {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style-type: upper-roman;
	list-style-position: outside;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	border-width: 3px;
	border-style: solid;
	padding: 5px;
}


.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.big {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.xbig {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.expanded {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: justify;
}.tdbotao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #808080;
}
.listpesquisa {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 400px;
}
.tdmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px #FFFFFF;
	border-left: 1px none #FFFFFF;
	text-align: center;
	text-decoration: none;
}
.tdcabecalho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #0f62a2;
	color: #FFFFFF;


}
.tdsubcabecalho {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #0000CC;
	color: #FFFFFF;
	font-weight: bold;
}
.tddetalhe1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #E5E5E5;
	color: #000000;
}

.tdfundo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #f8f8f8;
	color: #000000;
	font-weight: none;
}


.tdsubcabecalho2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #0099CC;
	color: #FFFFFF;
}

.tdlinha2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #0099CC;
	color: #FFFFFF;
}

.tdalerta1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #E5E5E5;
	color: #FF0000;
	font-weight: bold;

}
.tdalerta {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight: bold;
}
.tdalerta2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight: bold;
}
.tdcabecalho1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #666666;
	color: #FFFFFF;
	font-weight: bold;
}
.tdcabecalho2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #999999;
	color: #FFFFFF;
	font-weight: bold;
}

.tdsubcabecalho1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #CCCCCC;
	color: #000000;
	font-weight: bold;
}

.amenu {
	text-decoration: none;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;

}
